<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
    body
        if #{company}
            p We have a new contact request from #{name}!
        else
            p We have a new contact request from #{name} on behalf of #{company}!
        <br/><br/>
        p Here's what they want to say:
        p #{message}
        <br/><br/>
        p You can reply to them inthe folloing email address: #{email}